langchain
langchain-community
langgraph
langsmith
llama-index
openai
transformers
accelerate
torch
huggingface-hub
safetensors
bitsandbytes
pypdf
ollama
streamlit
youtube_transcript_api
PyPDF2
langchain_ollama
pymongo
chromadb
sentence_transformers